html {
  @apply bg-white;
}

body, html {
  @apply bg-body font-body;
}

p {
  a {
    @apply text-blue-700;
    transition: opacity 300ms ease-in-out;
    &:hover {
      transition: opacity 300ms ease-in-out;
      @apply opacity-75;
    }
  }
}

h2, h3, h4 {

  a {
    @apply text-blue-700;
    transition: opacity 300ms ease-in-out;
    &:hover {
      transition: opacity 300ms ease-in-out;
      @apply opacity-75;
    }
  }
}

.menu {
  @apply flex flex-col justify-between w-full;

  @screen md {
    @apply h-64 w-auto;
  }

  li {
    position: relative;

    @apply mt-5;


    a {
      @apply block relative px-4 py-1  font-title uppercase text-xl tracking-wider text-right;
    @screen md {
      @apply px-8 py-2;
    }
        z-index: 1;

      &:before {
        transition: opacity 300ms ease-in-out;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        z-index: -1;
        background: linear-gradient(180deg, transparent, color-mod(theme('colors.body-contrast') a(100%)));

        @screen md {
              background: linear-gradient(90deg, transparent, color-mod(theme('colors.body-contrast') a(100%)));
        }
      }
      &:hover, &.selected {
        &:before {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
      }
    }
  }
}

.ui-header {
  @apply font-ui font-extrabold text-lg tracking-wide uppercase;
}

.mirror {
  transform: scale(-1, 1);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fade-in {
  animation: fadein 2s;
}
