
body, html {
  @apply bg-orange-100 font-body;
}

p {
  a {
    @apply text-teal-700 font-bold;
    transition: opacity 300ms ease-in-out;
    &:hover {
      transition: opacity 300ms ease-in-out;
      @apply opacity-75;
    }
  }
}

.menu {
  @apply flex flex-col justify-between;

  @screen md {
    @apply h-64;
  }

  li {
    position: relative;

    @apply px-4 py-1 mt-5;
    @screen md {
      @apply px-8 py-2;
    }


    a {
      @apply block font-title lowercase text-2xl tracking-wider text-right;


      &:before {
        transition: opacity 300ms ease-in-out;
        background: linear-gradient(90deg, transparent, color-mod(theme('colors.teal.400') a(30%)));
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
      }
      &:hover, &.selected {
        &:before {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
      }
    }
  }
}

.ui-header {
  @apply font-ui text-2xl tracking-wide lowercase font-bold;
}

.sub-header {
  @apply italic opacity-75;

  a {
    @apply text-teal-700 font-bold;
    transition: opacity 300ms ease-in-out;
    &:hover {
      transition: opacity 300ms ease-in-out;
      @apply opacity-75;
    }
  }
}