<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/images/favicon/favicon-32x32.png" type="image/x-icon">
    <title>Kurtis Melby</title>
    <meta content="Kurtis Melby" property="og:title">
    <meta content="Kurtis Melby" name="twitter:title">
    <meta content="A Minneapolis born nerd, currently stuck in Brooklyn working as a software developer." property="og:description">
    <meta content="A Minneapolis born nerd, currently stuck in Brooklyn working as a software developer." name="twitter:description">
    <meta content="A Minneapolis born nerd, currently stuck in Brooklyn working as a software developer." name="description">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
    <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
  </body>
</html>
