<div class="">
  <p>Who am I?</p>
  <p>Currently I'm a Minneapolis kid stuck in Brooklyn.</p>
  <p>That's my dog -></p>
  <p>
    EDUCATION
    University of Minnesota-Twin Cities, Institute of Technology ​Graduated 2010 Bachelor of Science in Computer Science, Focus on Artificial Intelligence
    Hong Kong University of Science and Technology​ ​Spring 2009 exchange
  </p>
</div>
