<h3 class="font-bold">
  <span class=""><%= @item.name %></span>
  <span class="ml-1  text-sm sub-header"><%= @item.duration %></span>
</h3>
<%= for section <- @item.sections do %>
  <p class="text-sm sub-header">
    <%= section.head %>
  </p>
  <%= for line <- section.lines do %>
    <p class="mb-2 text-sm">
      <%= line %>
    </p>
  <% end %>
<% end %>
