<h3 class="font-bold tracking-wide">
  <span class=""><%= @item.name %></span>
  <span class="ml-1 opacity-50"><%= @item.duration %></span>
</h3>
<%= for section <- @item.sections do %>
  <p class="italic opacity-50">
    <%= section.head %>
  </p>
  <%= for line <- section.lines do %>
    <p class="mb-2">
      <%= line %>
    </p>
  <% end %>
<% end %>
